.tag {
    background-color: var(--secondary-color);
    font-weight: 400;
    color: var(--body-text-clr-dark);
    border-radius: 20px;
    width: 1.4rem;
    padding: .3% 1% .5% 1%;
    margin: .5%;
}